__pycache__/
*.pyc
.venv/
config/*.env
docker-compose.ftp-wireguard.yml
data/work/**
!data/work/.gitkeep
data/output/**
!data/output/.gitkeep
data/web/images/**
!data/web/images/.gitkeep
data/web/sharpy/**
!data/web/sharpy/.gitkeep
data/web/manifest.json
